@model prijimacky_backend.Entities.Participant
@{
	Layout = "_Layout.cshtml";
}

<div class="content">
	Přijímačky Nanečisto – přihláška zrušena
	Dobrý den,

	přihlásili jste se na dvoudenní akci "PŘIJÍMAČKY NANEČISTO". Do dnešního dne jsme bohužel neobdrželi platbu.

	Vzhledem k tomu, že splatnost byla AA. BB. 20XX, přihlášení je nyní neplatné a z akce jste odhlášeni.

	Pokud se chcete zúčastnit, přihlaste se znovu. Vzhledem k velkému zájmu a množství volných míst, to udělejte co nejdříve.

	V případě, že jste platbu poslali, pokládejte tento e-mail za neplatný. O připsané platbě Vás budeme informovat.

	Příjemný den
	Alena Klobásová

	Střední průmyslová škola Brno, Purkyňova, příspěvková organizace
	Purkyňova 97
	612 00 Brno

	Telefon: +420 541 649 193
	E-mail: alena.klobasova@purkynka.cz
	WWW: www.sspbrno.cz
</div>